/* header, nav */
.header-navigation-items {
    padding: 0 0 200px;
  }

  .header-navigation-items groupui-10-1-0-headline {
    flex: 1;
    color: var(--groupui-vwgroup-color-pure-white);
  }

  .header-navigation-items groupui-10-1-0-header {
    border-radius: 2px 2px 0 0;
    display: flex;
    justify-content: center;
  }

  .header-navigation-items groupui-10-1-0-divider {
    height: 48px;
    margin: 0 16px;
  }

  .header-navigation-items .popover-content {
    width:180px;
    padding: 1rem;
  }


  /* for select */
  .select-life-demo {
    padding: 48px;
    height: 200px;
  }

  .input-live-demo {
    padding: 72px 48px;
  }
